Localization
{
es-es
{
	#LOC_SurfaceExperimentPack_modname = Paquete Experimento Superficial

	#LOC_SurfaceExperimentPack_agency_AKI_title = Industrias Albert Kermin
	#LOC_SurfaceExperimentPack_agency_AKI_desc = Este casi olvidado fabricante de equipamiento científico cobró nueva vida después de asociarse con una parte cada vez más importante oficina de diseño.

	//Part manufacturers
	#LOC_SurfaceExperimentPack_mfg = Industrias Albert Kermin

	//------------------------------------------------------------------------------

	//Settings
	#LOC_SurfaceExperimentPack_Settings_ShowAll = Mostrar todas las naves
	#LOC_SurfaceExperimentPack_SettingsTooltip_ShowAll = La ventana mostrará todos las naves en la misma lista, en lugar de separarlas por cuerpo celeste
	#LOC_SurfaceExperimentPack_Settings_FadeOut = Desvanecimiento de ventana
	#LOC_SurfaceExperimentPack_SettingsTooltip_FadeOut = Esto controla si la ventana se desvanece cuando no está enfocada
	#LOC_SurfaceExperimentPack_Settings_Scale = Escala
	#LOC_SurfaceExperimentPack_Settings_StockToolbar = Barra Stock
	#LOC_SurfaceExperimentPack_Settings_OpenHover = Abierto en vuelo estacionario
	#LOC_SurfaceExperimentPack_SettingsTooltip_OpenHover = Abra la ventana al pasar el puntero sobre el botón de la barra de herramientas
	#LOC_SurfaceExperimentPack_Settings_Default = Usar como predeterminado
	#LOC_SurfaceExperimentPack_SettingsTooltip_Default = Use la configuración actual como predeterminada para todos los juegos nuevos
	
	//------------------------------------------------------------------------------

	//UI
	#LOC_SurfaceExperimentPack_UI_ExperimentCount = <<1>> Experimentos
	#LOC_SurfaceExperimentPack_UI_ECCount = <<1>> / <<2>> CE
	#LOC_SurfaceExperimentPack_UI_Complete = Completo

	//------------------------------------------------------------------------------

	//Science
	
	
	//------------------------------------------------------------------------------
	
	//ModuleSEPStation Generic
	#LOC_SurfaceExperimentPack_ModuleSEPStation_deployEventName = Desplegar
	#LOC_SurfaceExperimentPack_ModuleSEPStation_retractEventName = Retraer
	#LOC_SurfaceExperimentPack_ModuleSEPStation_conductExperimentsEventName = Comenzar todos los experimentos
	#LOC_SurfaceExperimentPack_ModuleSEPStation_autoTransmitOn = Activar transmisión automática
	#LOC_SurfaceExperimentPack_ModuleSEPStation_autoTransmitOff = Desactivar la transmisión automática
	#LOC_SurfaceExperimentPack_ModuleSEPStation_collectData = Recolectar datos
	#LOC_SurfaceExperimentPack_ModuleSEPStation_reviewData = Revisar datos
	#LOC_SurfaceExperimentPack_ModuleSEPStation_infoMax = Experimentos Max: <<1>>\n
	#LOC_SurfaceExperimentPack_ModuleSEPStation_completion = Terminación: <<1>>
	#LOC_SurfaceExperimentPack_ModuleSEPStation_calibration = Calibración: <<1>>

	//CentralStation
	#LOC_SurfaceExperimentPack_CentralStation_title = PES Estacion Central
	#LOC_SurfaceExperimentPack_CentralStation_desc = Estación central para su paquete de experimentos de superficie. Incluye cuatro puertos de alimentación AKI, así como un lugar para montar su unidad de potencia de elección. Esta estación central, o una parte equivalente, es necesaria para que los experimentos funcionen.
	#LOC_SurfaceExperimentPack_CentralStation_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero estacion central transmitir
	#LOC_SurfaceExperimentPack_CentralStation_ModuleSEPStation_deployEventName = Activar
	#LOC_SurfaceExperimentPack_CentralStation_ModuleSEPStation_retractEventName = Apagar
	#LOC_SurfaceExperimentPack_CentralStation_features1_title = PES Central Estacion Transmisión
	#LOC_SurfaceExperimentPack_CentralStation_features1_desc = Desbloquea la capacidad de transmisión automática para todos los módulos de la Estación Central PES.

	//------------------------------------------------------------------------------

	//ModuleSEPScienceExperiment Generic
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_situationFailMessage = No puede realizar experimentos aquí
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_excludeAtmosphereMessage = Este experimento no puede realizarse dentro de una atmósfera
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_includeAtmosphereMessage = Este experimento sólo puede realizarse dentro de una atmósfera
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_experimentActionName = Desplegar Experimento
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_stopExperimentName = Pausar Experimento
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_collectActionName = Recolectar Datos
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_reviewActionName = Revisar Datos
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_requiredPartsMessage = No hay partes requeridas en esta nave
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_requiredModulesMessage = No hay módulos de piezas requeridas en esta nave
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_controllerModuleMessage = El módulo del controlador no está conectado al experimento
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_calibrationEventName = Calibrar
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_retractEventName = Apagar
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_recalibrate = Recalibrar
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_calibrationLevel = Nivel de calibración
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_dataCollected = Datos recolectados
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_daysRemaining = Tiempo restante
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_status = Estado
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_statusInactive = Inactivo
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_statusMoving = Moviendo...
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_statusError = Error
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_statusDataReady = Datos listos
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_statusCalibrated = Calibrado
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_statusCollecting = Recolectando datos
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_EVAWarning = Debe estar en AEV para activar este experimento
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_failExperimentError = Error de experimento; compruebe los archivos de registro
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_failFunctional = El experimento ya no es funcional
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_infoTransmit = Puede transmitir: <<1>>\n
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_infoTransmission = Transmisión: <<1>>\n
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_infoAtmosphere = Excluir Atmósfera: <<1>>\n
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_infoComplexity = Complejidad del experimento: <<1>>\n
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_infoCompletion = Std. Tiempo hasta la finalización: <<1>> Días\n
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_infoOneShot = Una oportunidad: <<1>>

	//ModuleSEPScienceExperiment SEP
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_SEP_situationFailMessage = Este instrumento debe ser desplegado en la superficie de un planeta y operado por un Kerbal mientras que estás en AEV.
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_SEP_excludeAtmosphereMessage = Este experimento explotará si se activa dentro de una atmósfera.
	#LOC_SurfaceExperimentPack_ModuleSEPScienceExperiment_SEP_controllerModuleMessage = Todos los experimentos PES deben ser conectados a la Estación Central PES para poder operar.

	//CCIG
	#LOC_SurfaceExperimentPack_CCIG_title = SEP-S04 Detector de iones neutro de cátodo frío
	#LOC_SurfaceExperimentPack_CCIG_desc = Albert Kermin diseñó este instrumento para decirnos cosas muy importantes sobre las atmósferas de los planetas. Ahora, si sólo el resto de nosotros podría calcular esto ...
	#LOC_SurfaceExperimentPack_CCIG_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor ion exosfera atmósfera densidad
	#LOC_SurfaceExperimentPack_CCIG_ModuleSEPScienceExperiment_experimentActionName = Lecturas de Exosfera

	//GRAV
	#LOC_SurfaceExperimentPack_GRAV_title = SEP-GM7 Gravímetro de superficie
	#LOC_SurfaceExperimentPack_GRAV_desc = Un diseño más novedoso de los diseñadores AKI-BDB, este dispositivo está diseñado para medir exactamente el "hacia abajo", y "abajo" en planetas.
	#LOC_SurfaceExperimentPack_GRAV_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor (gravedad
	#LOC_SurfaceExperimentPack_GRAV_ModuleSEPScienceExperiment_experimentActionName = Mediciones de Gravedad de Superficie

	//IHP
	#LOC_SurfaceExperimentPack_IHP_title = SEP-T03 Sonda de calor Interno
	#LOC_SurfaceExperimentPack_IHP_desc = Este largo pico con termómetros permite medir el calor por debajo de la superficie de un planeta o un pavo asado. Garantía Nula si alguien dice que fue diseñada para asar el pavo.
	#LOC_SurfaceExperimentPack_IHP_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor (calor térmico
	#LOC_SurfaceExperimentPack_IHP_ModuleSEPScienceExperiment_experimentActionName = Lecturas de Flujo de Calor Interno

	//LRRR
	#LOC_SurfaceExperimentPack_LRRR_title = SEP-R01 Retroreflector
	#LOC_SurfaceExperimentPack_LRRR_desc = El descubrimiento de una nueva forma de luz muy brillante que tiende a permanecer en un rayo causó gran expectación en la comunidad científica. Este reflector está diseñado para usar esa luz para hacer una lectura extremadamente precisa de la distancia a un planeta en particular.
	#LOC_SurfaceExperimentPack_LRRR_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor laser reflector lazer lazor
	#LOC_SurfaceExperimentPack_LRRR_ModuleSEPScienceExperiment_experimentActionName = Medición de Alcance del Láser

	//MAG
	#LOC_SurfaceExperimentPack_MAG_title = SEP-MT3 Magnetómetro de Superficie
	#LOC_SurfaceExperimentPack_MAG_desc = Después de que Jeb advirtió que su brújula no funcionaba correctamente en la órbita de Kerbin, casi como resultado de un desastre de navegación, empezamos a investigar cómo funcionan las brújulas y por qué funcionan de manera diferente en diferentes planetas. Este experimento está garantizado para decirle si puede confiar en su brújula en un planeta.
	#LOC_SurfaceExperimentPack_MAG_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor (imán
	#LOC_SurfaceExperimentPack_MAG_ModuleSEPScienceExperiment_experimentActionName = Medir Campo Magnético

	//PSE
	#LOC_SurfaceExperimentPack_PSE_title = SEP-S06 Experimento Sísmico Pasivo
	#LOC_SurfaceExperimentPack_PSE_desc = A partir de los esfuerzos de la Red de Noticias Kerbal para obtener cotizaciones del planeta en sí, este dispositivo fue robado por el equipo de Geología cuando se dieron cuenta de que los ruidos aleatorios que seguía recogiendo realmente contenía datos útiles sobre la estructura del planeta.
	#LOC_SurfaceExperimentPack_PSE_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor (sismo núcleo terremoto
	#LOC_SurfaceExperimentPack_PSE_ModuleSEPScienceExperiment_experimentActionName = Observar Sismología Planetaria

	//SWS
	#LOC_SurfaceExperimentPack_SWS_title = SEP-S05 Espectrómetro de Viento Solar
	#LOC_SurfaceExperimentPack_SWS_desc = Este sensor está diseñado para detectar las partículas misteriosas que Kerbol está constantemente derramando sobre el resto del sistema, y analizarlas. No, en realidad no entendemos cómo funciona...
	#LOC_SurfaceExperimentPack_SWS_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor viento solar (espectro
	#LOC_SurfaceExperimentPack_SWS_ModuleSEPScienceExperiment_experimentActionName = Medir Viento Solar

	//WME
	#LOC_SurfaceExperimentPack_WME_title = SEP-W07 Estación Meteorológica
	#LOC_SurfaceExperimentPack_WME_desc = Este experimento único fue diseñado por primera vez por la oficina meteorológica de Kerbal para averiguar acerca de las "ráfagas de viento" que se atribuyeron en muchos fallos tempranos en los cohetes. Cuando se reveló que era una conspiración, fue vendida a la Chatarrería de Jeb, que la vendió a Integrales Integrados, que lo vendió a los laboratorios de Albert Kermin, que lo convirtieron en una nueva pieza maravillosa del experimento del superficie para los planetas con atmósferas! Precaución- No funciona en vacío.
	#LOC_SurfaceExperimentPack_WME_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico ingeniero sensor clima
	#LOC_SurfaceExperimentPack_WME_ModuleSEPScienceExperiment_experimentActionName = Observaciones Meteorológicas
	#LOC_SurfaceExperimentPack_WME_ModuleSEPScienceExperiment_calibrationEventName = Desplegar y Calibrar

	//------------------------------------------------------------------------------

	//GolfClub
	#LOC_SurfaceExperimentPack_GolfClub_title = AKI-G09 Prueba de Aerodinámica Física y Gravitacional
	#LOC_SurfaceExperimentPack_GolfClub_desc = A pedido de Gene Kermin, un instrumento especial de peso ligero fue creado para probar la física avanzada lejos de Kerbin. Oh, ¿de quién estamos bromeando? ¡Bill sólo quería jugar al golf en Mun!
	#LOC_SurfaceExperimentPack_GolfClub_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento ciencia aev investigación científico golf palo
	#LOC_SurfaceExperimentPack_GolfClub_ModuleScienceExperiment_experimentActionName = ¡Acción!
	#LOC_SurfaceExperimentPack_GolfClub_ModuleScienceExperiment_resetActionName = Borrar Tarjeta de Puntos
	#LOC_SurfaceExperimentPack_GolfClub_ModuleScienceExperiment_collectActionName = Grabar Tarjeta de Puntos

	//Screwdriver
	#LOC_SurfaceExperimentPack_Screwdriver_title = PES Herramienta de Conexión de Puertos
	#LOC_SurfaceExperimentPack_Screwdriver_desc = Esta herramienta altamente personalizada, con una empuñadura de polímero de alta resistencia, una cabeza de fijación personalizada y varios otros accesorios de alta calidad, está diseñada para conectar o desacoplar los enchufes de alimentación AKI en o fuera de su paquete de experimentos de superficie. Necesitará una herramienta separada para fijar la superficie, como una llave inglesa o un destornillador eléctrico.
	#LOC_SurfaceExperimentPack_Screwdriver_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev herramienta (destornillador) nueces pernos llave

	//------------------------------------------------------------------------------

	//Plug
	#LOC_SurfaceExperimentPack_plug_title = AKI Conducto de Transferencia de Potencia
	#LOC_SurfaceExperimentPack_plug_desc = Este enchufe es un extremo de un conducto de transferencia de potencia AKI. Úsela para conectar los distintos componentes del paquete de experimentos de superficie a la estación central. Adjuntar uno a cada extremo de donde necesita el conducto, a continuación, vincularlos con el menú de clic derecho.
	#LOC_SurfaceExperimentPack_plug_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev enchufe puerto potencia energía (elegir cable conector

	//PowerExtender
	#LOC_SurfaceExperimentPack_PowerExtender_title = PES Extensor de Potencia
	#LOC_SurfaceExperimentPack_PowerExtender_desc = A veces, usted no quiere que sus experimentos superficiales estén justo al lado de su aterrizador o base. Utilice esta base de alimentación de doble cara para extender la longitud de sus conductos.
	#LOC_SurfaceExperimentPack_PowerExtender_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev enchufe puerto potencia energía (elegir cable conector (exten

	//PowerSplitter
	#LOC_SurfaceExperimentPack_PowerSplitter_title = PES Divisor de Potencia
	#LOC_SurfaceExperimentPack_PowerSplitter_desc = ¿Se te acabaron los enchufes en tu estación central? ¿Su configuración PES es demasiado grande? ¡No temas más! Este pequeño tallo se puede colocar en el suelo para ampliar el número de puertos de alimentación que tiene disponible! Contiene 4 tomas de corriente AKI.
	#LOC_SurfaceExperimentPack_PowerSplitter_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev enchufe puerto potencia energía (elegir cable conector (divisor

	//PowerStation
	#LOC_SurfaceExperimentPack_PowerStation_title = PES Central Eléctrica
	#LOC_SurfaceExperimentPack_PowerStation_desc = ¿Se te acabaron los enchufes en tu estación central? ¿Su configuración PES es demasiado grande? ¡No temas más! Este pequeño ladrillo se puede colocar en el suelo para ampliar el número de puertos de alimentación que tiene availabe! Contiene 6 tomas de corriente AKI, así como algunas baterías para ayudar a lidiar con el estrés adicional en el sistema de energía.
	#LOC_SurfaceExperimentPack_PowerStation_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev enchufe puerto potencia energía (elegir cable conector statio

	//SolarPanel
	#LOC_SurfaceExperimentPack_SolarPanel_title = PES-MES Matriz de Energía Solar
	#LOC_SurfaceExperimentPack_SolarPanel_desc = En un esfuerzo por asegurar la potencia adecuada para su paquete de experimentos de superficie, Albert Kermin Labs y BDB han creado este panel solar plegable.
	#LOC_SurfaceExperimentPack_SolarPanel_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev solar panel potencia energía (elegir sol luz carga generar

	//Girder
	#LOC_SurfaceExperimentPack_Girder_title = PES Viga Estructural
	#LOC_SurfaceExperimentPack_Girder_desc = Vigas estructurales para la fijación de paneles solares.
	#LOC_SurfaceExperimentPack_Girder_tags = cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev ingeniero estructura viga soporte conectar marco andamio entramado

	//------------------------------------------------------------------------------

	//Box
	#LOC_SurfaceExperimentPack_Box_title = Caja de Cartón
	#LOC_SurfaceExperimentPack_Box_desc = Caja de cartón plegable para el transporte de componentes desde un módulo de aterrizaje a un sitio, para la construcción de paquetes de experimentos de superficie o cualquier otra cosa.
	#LOC_SurfaceExperimentPack_Box_tags = cck-contenedores cck-aev-artículos pes kis kas superficie experimento inventario acoplamiento aev almacenamiento contenedor caja cartón 

	//StorageShort
	#LOC_SurfaceExperimentPack_StorageShort_title = AKI-S Casillero
	#LOC_SurfaceExperimentPack_StorageShort_desc = Al darse cuenta de que había un problema con el almacenamiento de las piezas del paquete de experimentos de superficie en pequeños botes, ordenamos a los ingenieros encontrar una solución. Volvieron con esta caja de acero, que funciona muy bien. No, no tiene nada que ver con el reciente robo del armario de Valentina.
	#LOC_SurfaceExperimentPack_StorageShort_tags = cck-contenedores pes kis kas superficie experimento inventario acoplamiento aev almacenamiento contenedor armario 

	//StorageLong
	#LOC_SurfaceExperimentPack_StorageLong_title = AKI-L Casillero
	#LOC_SurfaceExperimentPack_StorageLong_desc = Un armario más grande, para almacenar más cosas en un arte más grande. No tiene nada que ver con ninguno de los armarios del ingeniero que faltan.
	#LOC_SurfaceExperimentPack_StorageLong_tags = cck-contenedores pes kis kas superficie experimento inventario acoplamiento aev almacenamiento contenedor armario 

}
}
